<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid" >
      <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-center">World map of corona cases - Last Updated: {{update}}</h1>
      </div>
          <div class="container">
            {{cmap|safe}}
          </div>

           <div class="container">
            {{cmap|safe}}
          </div>


    </div>

    {% endblock %}
  </body>
</html>